<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CAPIT01MOBDEVE"
        tools:targetApi="31">
        <activity
            android:name=".dashboard.EmergencyContactsActivity"
            android:exported="false" />
        <activity
            android:name=".dashboard.missingPersonReported_desc_rt"
            android:exported="false" />
        <activity
            android:name=".dashboard.reportedMissing_rt"
            android:exported="false" />
        <activity
            android:name=".missing.missing_descp"
            android:exported="false" />

        <service
            android:name=".home.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDaka3Pso7shUImAerJ8SvrrmUSHsvmSXE" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".login.login_act"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".home.homeActivity_rt" />
        <activity android:name=".map.mapActivity_rt" />
        <activity android:name=".file.fileActivity_rt" />
        <activity android:name=".help.helpActivity_rt" />
        <activity android:name=".dashboard.dashboardActivity_rt" />
        <activity android:name=".home.homeActivity_bo" />
        <activity android:name=".rescue.rescueActivity_bo" />
        <activity android:name=".missing.missingActivity_bo" />
        <activity android:name=".file.fileActivity_bo" />
        <activity android:name=".fingerprint.fingerprintActivity_bo" />
        <activity android:name=".update.update_bo" />
    </application>

</manifest>