<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CAPIT01MOBDEVE"
        tools:targetApi="31">
        <activity
            android:name=".login.login_act"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".home.homeActivity_rt" />
        <activity android:name=".map.mapActivity_rt" />
        <activity android:name=".file.fileActivity_rt" />
        <activity android:name=".help.helpActivity_rt" />
        <activity android:name=".dashboard.dashboardActivity_rt" />
        <activity android:name=".home.homeActivity_bo" />
        <activity android:name=".rescue.rescueActivity_bo" />
        <activity android:name=".missing.missingActivity_bo" />
        <activity android:name=".file.fileActivity_bo" />
        <activity android:name=".fingerprint.fingerprintActivity_bo" />
    </application>

</manifest>